body {
    padding: 0;
    margin: 0;
}

#map, body, html {
    height: 100%;
}
/* Legend Box */
ul {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
/* Color Boxes Inside Legend Box */
.color-box {
    width: 20px;
    height: 20px;
    padding: none;
    display: inline-block;
    position: absolute;
}
/* Text Inside Legend Box */
p {
    padding-left: 30px;
    margin: 0;
}
/* Pop Up - Place */
.leaflet-popup-content h3 {
    font-family: Verdana, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    text-align: center;
    margin: 0px; 
} 
/* Pop Up - Date, Magnitude, and Depth */
h4 {
    font-family: Verdana, sans-serif;
    font-size: 12px; 
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}
